// .mobile-aside-button {
//     font-size: 34px;
//     width: 30px;
//     height: 30px;
//     padding: 0;
//     cursor: pointer;
//     color: #fff;
//     border: none;
//     background: none;
  
//     svg {
//       width: 100%;
//       height: 100%;
//       margin-top: 5px;
//       vertical-align: top;
//     }
  
//     &:focus {
//       outline: none;
//     }
//   }
  
//   /* Mobile Menu */
//   .offcanvasMobileSearchArea {
//     position: absolute;
//     z-index: 9;
//     top: 0;
//     left: 0;
//     width: calc(100% - 60px);
//     margin-left: 60px;
//     padding: 0;
//     background-color: #e6e6e6;
  
//     input {
//       font-size: 16px;
//       display: block;
//       width: 100%;
//       padding: 9px 25px;
//       color: transparent;
//       border: none;
//       background: #e6e6e6;
//     }
  
//     button {
//       position: absolute;
//       top: 50%;
//       right: 20px;
//       padding: 0;
//       transform: translateY(-50%);
//       color: #aaa;
//       border: none;
//       background: none;
  
//       svg {
//         font-size: 28px;
//         line-height: 40px;
//       }
//     }
//   }
  
//   /* Responsive adjustments */
//   @media (max-width: 767px) {
//     .dg__header {
//       padding: 15px;
//     }
  
//     .offcanvasMobileSearchArea input {
//       font-size: 14px;
//       padding: 5px 15px;
//     }
  
//     .mobileButtonWrapper button {
//       font-size: 30px;
//     }
//   }
  
//   @media (max-width: 575px) {
//     .offcanvasMobileSearchArea input {
//       padding: 5px 10px;
//     }
  
//     .mobileButtonWrapper button {
//       font-size: 25px;
//     }
//   }
  
//   /* Ensure header is not sticky */
//   .dg__header {
//     position: absolute;
//     width: 100%;
//     top: 0;
//     left: 0;
//   }
  
//   .offcanvasMobileMenu {
//     position: absolute;
//     z-index: 999999999999;
//     top: 0;
//     right: 0;
//     width: 400px;
//     max-width: 100%;
//     height: 100vh;
//     padding-left: 60px;
//     transition: 0.6s;
//     transform: translateX(100%);
  
//     &.active {
//       transform: translateX(0);
//     }
  
//     &.inactive {
//       transform: translateX(calc(100% + 60px));
//     }
//   }
  
//   /* Additional responsive styles can be added as needed */
  



/* Base Styles */
.dg__header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background: transparent;
  }
  
  .hero-section {
    position: relative;
  }
  
  /* Hide header on mobile screens */
  @media (max-width: 767px) {
    .dg__header {
      display: none;
    }
  }
  