.hero-section {
    // background-color: black;
    background: url('../../../../public/images/bg/roadmap-bg.gif') no-repeat center center;
    color: #f7ab00;
    padding: 4rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  
    .hero-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      max-width: 1200px;
  
      .hero-text {
        max-width: 600px;
  
        h1 {
          font-size: 3rem;
          font-weight: bold;
          margin-bottom: 1rem;
          color: #f7ab00;
        }
  
        p {
          font-size: 1.25rem;
          margin-bottom: 2rem;
          color: #e0e0e0;
        }
      }
  
      .hero-converter {
        background-color: #f7ab00;
        padding: 2rem;
        border-radius: 12px;
        width: 100%;
        max-width: 400px;
  
        h2 {
          font-size: 1.75rem;
          margin-bottom: 1.5rem;
          font-weight: bold;
        }
  
        .input-group {
          margin-bottom: 1.5rem;
  
          label {
            font-size: 1rem;
            margin-bottom: 0.5rem;
            display: block;
            color: black;
          }
  
          .input-wrapper {
            display: flex;
            align-items: center;
            width: 100%;
  
            select {
              background-color: white;
              width: 100%;
              border: none;
              padding: 0.75rem;
              font-size: 1rem;
              border-radius: 8px 8px 8px 8px;
              color: black;
              flex: 1;
            }
  
            input {
              padding: 0.75rem;
              margin-left: 5px;
              font-size: 1rem;
              border: none;
              border-radius: 8px 8px 8px 8px;
              color: black;
              flex: 2;
              
            }
          }
        }
  
        .rate-info {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 1.5rem;
  
          p {
            font-size: 0.875rem;
            color: black;
          }
  
          a {
            font-size: 0.875rem;
            color: black;
            text-decoration: underline;
          }
        }
  
        .buy-button {
          width: 100%;
          background-color: black;
          color: #f7ab00;
          padding: 1rem;
          font-size: 1rem;
          border: none;
          border-radius: 8px;
          cursor: pointer;
          transition: background-color 0.3s;
  
          &:hover {
            background-color: #333;
          }
        }
      }
    }
  }
  
  @media (max-width: 768px) {
    .hero-content {
      flex-direction: column;
      align-items: center;
  
      .hero-text {
        margin-bottom: 2rem;
        text-align: center;
      }
  
      .hero-converter {
        width: 100%;
      }
    }
  }
  