$primary-color: #F7AB00;
$background-color: rgba(0, 0, 0, 0.7); // Semi-transparent dark background
$text-color: #fff;
$card-border-color: $primary-color;

.package-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  padding: 20px;
  background-color: transparent; // Ensure the container is transparent
}

.package-card {
  background-color: $background-color;
  border: 2px solid $card-border-color;
  border-radius: 10px;
  color: $text-color;
  padding: 20px;
  width: 400px;
  text-align: center;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); // Add some shadow for depth

  h3 {
    font-size: 24px;
    color: $primary-color;
  }

  .roi {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: $primary-color;
    border-radius: 50%;
    padding: 10px 20px;
    text-align: center;
    color: $background-color;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); // Add some shadow for depth

    span {
      display: block;
      font-size: 18px;
      font-weight: bold;
    }

    p {
      margin: 0;
      font-size: 12px;
    }
  }

  p {
    margin: 10px 0;
    color: $text-color;
  }

  .commissions {
    margin-top: 20px;

    p {
      margin: 5px 0;
    }
  }

  .invest-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: $primary-color;
    border: none;
    border-radius: 5px;
    color: $background-color;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }
}

@media (max-width: 900px) {
  .package-card {
    width: calc(50% - 20px);
  }
}

@media (max-width: 600px) {
  .package-card {
    width: 100%;
  }
}
